<%- include('../includes/header.ejs') %>

<% if(typeof torneio != 'undefined'){ %>
    <div class="title__bar">
        <h1><%= torneio.designacao %> - <%= torneio.localidade %></h1>
        <h3><%= torneio.ano %></h3>
    </div>
    <% if(campos.length > 0) { %>
        <div class="action_btns a-right">
            <button class="btn print_btn" data-escalao="<%= escalaoId %>" data-fase="<%= fase %>"><i class="fas fa-print"></i>Imprimir</button>
        </div>
    <% } %>
    <div class="listagemWrapper" id="listagemWrapper">
        <p class="listagemWrapper_title">Equipas Agrupadas por Campos - <%= fase %>ª Fase</p>
        <% if(campos.length > 0) { %>
            <% campos.forEach(function(campo){ %>
                <p>Campo <%= campo.campo %></p>
                <table>
                    <% campo.listaEquipas.forEach(function(equipa){ %>
                        <tr>
                            <td rowspan="2"><%= equipa.equipaId %></td>
                            <td><%= equipa.primeiroElemento %></td>
                            <td rowspan="2"><%= equipa.localidade %></td>
                        </tr>
                        <tr>
                            <td><%= equipa.segundoElemento %></td>
                        </tr>
                    <% }); %>
                </table>
            <% }); %>
        <% } else { %>
            <p>TODO: Não Existe dados!</p>
        <% } %>
    </div>


<% } else { %>
    <h2>Oops.. Algo correu mal!</h2>
    <p>Verifique se existem torneios registados ou activados.</p>
<% } %>
<script src="/js/pdfmake.min.js"></script>
<script src="/js/vfs_fonts.js"></script>
<script src="/js/print.js"></script>
<script src="/js/listagens/equipasAgrupadasPorCampo.js"></script>
<%- include('../includes/footer.ejs') %>