<%- include('../includes/header.ejs') %>

<% if(torneio != null){ %>
    <div class="barraTorneio">
        <div class="barraTorneio__title">
            <h1><%= torneio.designacao %></h1>
            <h3><%= torneio.localidade %>, <%= torneio.ano %></h3>
        </div>
    </div>

    <%- include('../includes/breadcrumbs.ejs') %>
    <div class="container_wrapper">
        <div class="actionBar__wrapper">
            <h2 class="actionBar__title">Listagens</h2>
        </div>
    </div>

    <div class="listagens__wrapper">
        <div class="listagem__item">
            <p>Número de Equipas por Localidade</p>
            <div class="listagem__item-content">
                <div class="listagems__item-inputs"></div>
                <div class="listagem__item-printBtn">
                    <a class="btn btn-secondary numEquipasPorConcelho_btn">Imprimir</a>
                </div>
            </div>
        </div>
    </div>

<% } else { %>
    <h2>Oops.. Algo correu mal!</h2>
    <p>Verifique se existem torneios registados ou activados.</p>
<% } %>

<script src="/js/pdfmake.min.js"></script>
<script src="/js/vfs_fonts.js"></script>
<script src="/js/printFunctions.js"></script>
<script src="/js/print.js"></script>
<%- include('../includes/footer.ejs') %>