<%- include('../includes/header.ejs') %>

<% if(typeof torneio != 'undefined'){ %>
    <div class="title__bar">
        <h1><%= torneio.designacao %> - <%= torneio.localidade %></h1>
        <h3><%= torneio.ano %></h3>
    </div>

    <div class="listagemWrapper">

        <div class="listagemCard">
            <form action="/listagens/numEquipasPorConcelho" method="POST">
                <div class="listagemCard_wrapper">
                    <div class="listagemCard__content">
                        <p class="listagemCard__title">Número de Equipas por Concelho</p>
                        <div class="listagemCard__controllers">
                            <%- include('componentes/escaloes.ejs', {escaloes: escaloes}) %> 
                        </div>
                    </div>
                    <button type="submit" class="listagem_btn"><i class="fas fa-file-alt"></i></button>
                </div>
            </form>
        </div>

        <div class="listagemCard">
            <form action="/listagens/equipasAgrupadasPorCampos" method="POST">
                <div class="listagemCard_wrapper">
                    <div class="listagemCard__content">
                        <p class="listagemCard__title">Equipas Agrupadas por Campos</p>
                        <div class="listagemCard__controllers">
                            <%- include('componentes/escaloes.ejs', {escaloes: escaloesComJogos}) %>
                        </div>
                    </div>
                    <button type="submit" class="listagem_btn"><i class="fas fa-file-alt"></i></button>
                </div>
            </form>
        </div>

        <div class="listagemCard">
            <form action="#" method="POST">
                <div class="listagemCard_wrapper">
                    <div class="listagemCard__content">
                        <p class="listagemCard__title">Fichas de Jogo</p>
                        <div class="listagemCard__controllers">
                            <%- include('componentes/escaloes.ejs', {escaloes: escaloesComJogos}) %>
                        </div>
                    </div>
                    <button type="submit" name="fichasJogo_btn" class="listagem_btn"><i class="fas fa-print"></i></button>
                </div>
            </form>
        </div>

        <!-- TEMPLATE -->
        <!--<div class="listagemCard">
            <form action="" method="POST">
                <div class="listagemCard_wrapper">
                    <div class="listagemCard__content">
                        <p class="listagemCard__title">Template</p>
                        <div class="listagemCard__controllers">
                            <select name="escalao" id="escalao">
                                <option value="" disabled selected>Escalão</option>
                                <option value="1">Jovem</option>
                                <option value="1">Sénior</option>
                                <option value="1">65+</option>
                                <option value="1">Absolutos</option>
                                <option value="1">65+</option>
                            </select>
                            <select name="campo" id="campo">
                                <option value="" disabled selected>Campo</option>
                                <option value="1">Campo 1</option>
                                <option value="1">Campo 2</option>
                                <option value="1">Campo 3</option>
                                <option value="1">Campo 4</option>
                                <option value="1">Campo 5</option>
                                <option value="1">Campo 6</option>
                            </select>
                            <select name="fase" id="fase">
                                <option value="" disabled selected>Fase</option>
                                <option value="1">Fase 1</option>
                                <option value="1">Fase 2</option>
                                <option value="1">Fase 3</option>
                                <option value="1">Fase 4</option>
                                <option value="1">3º e 4º</option>
                                <option value="1">Final</option>
                            </select>

                        </div>
                    </div>
                    <button type="submit" class="listagem_btn"><i class="fas fa-file-alt"></i></button>
                </div>
            </form>
        </div>-->

    </div>

<% } else { %>
    <h2>Oops.. Algo correu mal!</h2>
    <p>Verifique se existem torneios registados ou activados.</p>
<% } %>

<script src="/js/pdfmake.min.js"></script>
<script src="/js/vfs_fonts.js"></script>
<script src="/js/print.js"></script>
<%- include('../includes/footer.ejs') %>