<%- include('../includes/header.ejs') %>

<% if(typeof torneio != 'undefined'){ %>
    <div class="title__bar">
        <h1><%= torneio.designacao %> - <%= torneio.localidade %></h1>
        <h3><%= torneio.ano %></h3>
    </div>
    <% if(localidades.length > 0) { %>
        <div class="action_btns a-right">
            <button class="btn print_btn" data-escalao="<%= escalaoId %>"><i class="fas fa-print"></i>Imprimir</button>
        </div>
    <% } %>
    <div class="listagemWrapper" id="listagemWrapper">
        <p class="listagemWrapper_title">Número de equipas por concelho</p>
        <table>
            <tr>
                <th>Concelho</th>
                <th>Número de Equipas</th>
            </tr>
            <% if(localidades.length > 0) { %>
                <% let total = 0; %>
                <% localidades.forEach(function(localidade){ %>
                    <tr>
                        <td><%= localidade.nome %></td>
                        <td><%= localidade.numEquipas %></td>
                    </tr>
                    <% total += localidade.numEquipas; %>
                <% }); %>
                <tr>
                    <td>Total</td>
                    <td><%= total %></td>
                </tr>
            <% } else { %>
                <tr>
                    <td colspan="3">Não foi selecionado nenhum escalão</td>
                </tr>
            <% } %>
        </table>
    </div>


<% } else { %>
    <h2>Oops.. Algo correu mal!</h2>
    <p>Verifique se existem torneios registados ou activados.</p>
<% } %>
<script src="/js/pdfmake.min.js"></script>
<script src="/js/vfs_fonts.js"></script>
<script src="/js/print.js"></script>
<script src="/js/listagens/numEquipasPorConcelho.js"></script>
<%- include('../includes/footer.ejs') %>