<%- include('../includes/header.ejs') %>
<%- include('../includes/validationErrors.ejs') %>

<form action="/admin/torneios/adicionarTorneio" method="post">
    <label for="designacao">Designação: </label>
    <input type="text" name="designacao" required 
        <% if(typeof oldData !== 'undefined'){ %>
            value="<%= oldData.designacao %>"
        <% } %>
    ><br>
    <label for="localidade">Localidade: </label>
    <input type="text" name="localidade" pattern="^[^0-9]+$" required
        <% if(typeof oldData !== 'undefined'){ %>
            value="<%= oldData.localidade %>"
        <% } %>
    ><br>
    <label for="ano">Ano: </label>
    <input type="text" name="ano" maxlength="4" pattern="^[0-9]{4}$" required
        <% if(typeof oldData !== 'undefined'){ %>
            value="<%= oldData.ano %>"
        <% } %>
    ><small>(AAAA)</small><br>

    <p>Número de campos</p>
    <% if(typeof escaloes != 'undefined'){ %>
        <p>Masculinos:</p>
        <% escaloes.masculinos.forEach(function(escalao, index){ %>
            <%= escalao.designacao %>: <input type="text" name="camposMasculinos[]" size="6" pattern="^[0-9]+$"
                <% if(typeof oldData !== 'undefined'){ %>
                    value="<%= oldData.camposMasculinos[index] %>"
                <% } %>
            ><br>
            <input type="hidden" name="escalaoIdMasculinos[]" value="<%= escalao.escalaoId %>"
                <% if(typeof oldData !== 'undefined'){ %>
                    value="<%= oldData.escalaoIdMasculinos[index] %>"
                <% } %>
            >
        <% }); %>

        <p>Femininos:</p>
        <% escaloes.femininos.forEach(function(escalao, index){ %>
            <%= escalao.designacao %>: <input type="text" name="camposFemininos[]" size="6" pattern="^[0-9]+$"
                <% if(typeof oldData !== 'undefined'){ %>
                    value="<%= oldData.camposFemininos[index] %>"
                <% } %>
            ><br>
            <input type="hidden" name="escalaoIdFemininos[]" value="<%= escalao.escalaoId %>"
                <% if(typeof oldData !== 'undefined'){ %>
                    value="<%= oldData.escalaoIdFemininos[index] %>"
                <% } %>
            >
        <% }); %>
        <br>
        <input type="submit" name="adicionar" value="Adicionar">
        <input type="submit" name="adicionar_activar" value="Adicionar e Activar">
    <% } else { %>
        <p>Não foi possível aceder aos escalões.</p>
    <% } %>
    <a href="/admin/torneios">Cancelar</a>
</form>

<%- include('../includes/footer.ejs') %>