<%- include('../includes/header.ejs') %>
<%- include('../includes/breadcrumbs.ejs') %>
<%- include('../includes/validationErrors.ejs') %>

<form action="/admin/utilizadores/alterarPasswordUtilizador/<%= user.userId %>?_method=PUT" method="post">
    <p class="username"><%= user.username %></p>
    <label for="password">Password: </label>
    <input type="password" name="password" required><br>
    <label for="password">Verificar Password: </label>
    <input type="password" name="confirmPassword" required><br>
    <input type="submit" value="Alterar">
    <a href="/admin/utilizadores">Cancelar</a>
</form>

<%- include('../includes/footer.ejs') %>