<%- include('../includes/header.ejs') %>
<div class="dummyTopSpacer"></div>
<%- include('../includes/breadcrumbs.ejs') %>

<div class="container_wrapper">
    <div class="actionBar__wrapper">
        <h2 class="actionBar__title">Configurações</h2>
    </div>

    <div class="table__wrapper">
        <p class="table__title">Servidor</p>
        <table class="mainTable">
            <tbody>
                <tr>
                    <td>Porta</td>
                    <td class="detalhesBtn__column"><input type="text" name="porta" id="porta" value="<%= server.port %>" size="12"></td>
                    <td class="detalhesBtn__column"><a class="btn btn-secondary">Guardar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<%- include('../includes/footer.ejs') %>







<!--

<div class="configWrapper">
    <div class="configGroup">
        <div class="configGroup__title">
            <h2>Servidor</h2>
        </div>
        <form action="/admin/configuracoes/definirPorta" class="configItem" method="post">
            <p class="configItem__title">Porta</p>
            <input type="text" name="porta" value="<%= server.port %>" size="6">
            <button type="submit" class="btn primary_btn"><i class="fas fa-save"></i>Guardar</button>
        </form>
    </div>
</div>
-->