<%- include('../includes/header.ejs') %>
<div class="dummyTopSpacer"></div>
<%- include('../includes/breadcrumbs.ejs') %>

<div class="container_wrapper">
    <div class="actionBar__wrapper">
        <h2 class="actionBar__title">Configurações</h2>
    </div>

    <div class="table__wrapper">
        <p class="table__title">Servidor</p>
        <table class="mainTable">
            <tbody>
                <tr>
                    <td>Porta</td>
                    <td class="detalhesBtn__column"><input type="text" name="serverPort" id="serverPort" value="<%= config.server.port %>" size="12"></td>
                    <td class="detalhesBtn__column"><a class="btn btn-secondary changeServerPort-btn">Guardar</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table__wrapper">
        <p class="table__title">Equipas Aleatórias</p>
        <table class="mainTable">
            <tbody>
                <tr>
                    <td>Gerar Equipas Aleatórias</td>
                    <td class="detalhesBtn__column"><button class="btn-switch btn-switch-on <%= (config.faker) ? 'btn-switch-on--selected' : '' %>">Lig.</button><button class="btn-switch btn-switch-off <%= (!config.faker) ? 'btn-switch-off--selected' : '' %>">Deslig.</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table__wrapper">
        <p class="table__title">Aplicação Web</p>
        <table class="mainTable">
            <tbody>
                <tr>
                    <td>Endereço</td>
                    <td class="detalhesBtn__column"><input type="text" name="enderecoWeb" id="enderecoWeb" value="<%= config.enderecoWeb %>" size="60"></td>
                    <td class="detalhesBtn__column"><a class="btn btn-secondary changeEnderecoWeb-btn">Sincronizar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="/js/configuracoes.js"></script>
<%- include('../includes/footer.ejs') %>