<%- include('../includes/header.ejs') %>
<%- include('../includes/validationErrors.ejs') %>

<% if(typeof torneio != 'undefined'){ %>
    <form action="/admin/torneios/editarTorneio/<%= torneio.torneioId %>?_method=PUT" method="post">
        <label for="designacao">Designação</label>
        <input type="text" name="designacao" value="<%= torneio.designacao %>" required><br>
        <label for="localidade">Localidade</label>
        <input type="text" name="localidade" value="<%= torneio.localidade %>" required><br>
        <label for="ano">Ano</label>
        <input type="text" name="ano" value="<%= torneio.ano %>" required><br>
        <p>Número de campos</p>
    <% if(typeof escaloes != 'undefined'){ %>
        <p>Masculinos:</p>
        <% escaloes.masculinos.forEach(function(escalao, index){ %>
            <%= escalao.designacao %>: <input type="text" name="camposMasculinos[]" size="6" pattern="^[0-9]+$" value="<%= escalao.campos[0].numCampos %>"><br>
            <input type="hidden" name="escalaoIdMasculinos[]" value="<%= escalao.escalaoId %>">
        <% }); %>

        <p>Femininos:</p>
        <% escaloes.femininos.forEach(function(escalao, index){ %>
            <%= escalao.designacao %>: <input type="text" name="camposFemininos[]" size="6" pattern="^[0-9]+$" value="<%= escalao.campos[0].numCampos %>"><br>
            <input type="hidden" name="escalaoIdFemininos[]" value="<%= escalao.escalaoId %>">
        <% }); %>
        <br>
        <input type="submit" value="Actualizar">
    <% } else { %>
        <p>Não foi possível aceder aos escalões.</p>
    <% } %>
        <a href="/admin/torneios">Cancelar</a>
    </form>
<% } else { %>
        <h2>Oops...Algo correu mal!</h2>
        <a href="/admin/torneios">Voltar</a>
<% } %>

<%- include('../includes/footer.ejs') %>