<%- include('../includes/header.ejs') %>
<%- include('../includes/validationErrors.ejs') %>

<% if(typeof torneio != 'undefined'){ %>
    <form action="/admin/torneios/editarTorneio/<%= torneio.torneioId %>?_method=PUT" method="post">
        <label for="designacao">Designação</label>
        <input type="text" name="designacao" value="<%= torneio.designacao %>" required><br>
        <label for="localidade">Localidade</label>
        <input type="text" name="localidade" value="<%= torneio.localidade %>" required><br>
        <label for="ano">Ano</label>
        <input type="text" name="ano" maxlength="4" value="<%= torneio.ano %>" required><br>
        <p>Número de campos</p>
    <% if(typeof escaloes != 'undefined'){ %>
        <p>Masculinos:</p>
        <% escaloes.forEach(escalao => { 
            if(escalao.sexo == 1) { %>
                <div class="escalao">
                        <p class="escalao__designacao">
                        <%= escalao.designacao %>
                        </p>
                        <div class="escalao__numCampos">
                            Campos: 
                            <% for(let i = 0; i < 8; i++){ %>
                                <label for="<%= (escalao.escalaoId * 10) + i %>">
                                    <input type="radio" value="<%= (i != 0) ? Math.pow(2,i): 0 %>" name="<%= escalao.escalaoId %>" id="<%= (escalao.escalaoId * 10) + i %>" <%= (i == 0) ? 'checked' : '' %>>
                                    <%= (i != 0) ? Math.pow(2,i): 0 %>
                                </label>
                            <% } %>
                        </div>
    
                        <div class="escalao__minMaxEquipas">
                            Equipas por Campo:
                            <input type="text" name="<%= (escalao.escalaoId * 100) + 1 %>" placeholder="Mínimo" value="<%= (typeof escalao.minEquipas != undefined) ? escalao.minEquipas : '' %>">
                            <input type="text" name="<%= (escalao.escalaoId * 100) + 2 %>" placeholder="Máximo" value="<%= (typeof escalao.maxEquipas != undefined) ? escalao.maxEquipas : '' %>">
                        </div>
                    </div>
            <% } %>
        <% }); %>

        <p>Femininos:</p>
        <% escaloes.forEach(escalao => { 
            if(escalao.sexo == 0) { %>
                <div class="escalao">
                        <p class="escalao__designacao">
                        <%= escalao.designacao %>
                        </p>
                        <div class="escalao__numCampos">
                            Campos: 
                            <% for(let i = 0; i < 8; i++){ %>
                                <label for="<%= (escalao.escalaoId * 10) + i %>">
                                    <input type="radio" value="<%= (i != 0) ? Math.pow(2,i): 0 %>" name="<%= escalao.escalaoId %>" id="<%= (escalao.escalaoId * 10) + i %>" <%= (i == 0) ? 'checked' : '' %>>
                                    <%= (i != 0) ? Math.pow(2,i): 0 %>
                                </label>
                            <% } %>
                        </div>
    
                        <div class="escalao__minMaxEquipas">
                            Equipas por Campo:
                            <input type="text" name="<%= (escalao.escalaoId * 100) + 1 %>" placeholder="Mínimo" value="<%= (typeof escalao.minEquipas != undefined) ? escalao.minEquipas : '' %>">
                            <input type="text" name="<%= (escalao.escalaoId * 100) + 2 %>" placeholder="Máximo" value="<%= (typeof escalao.maxEquipas != undefined) ? escalao.maxEquipas : '' %>">
                        </div>
                    </div>
            <% } %>
        <% }); %>
        <br>
        <input type="submit" value="Actualizar">
    <% } else { %>
        <p>Não foi possível aceder aos escalões.</p>
    <% } %>
        <a href="/admin/torneios">Cancelar</a>
    </form>
<% } else { %>
        <h2>Oops...Algo correu mal!</h2>
        <a href="/admin/torneios">Voltar</a>
<% } %>

<%- include('../includes/footer.ejs') %>