<%- include('../includes/header.ejs') %>
<%- include('../includes/breadcrumbs.ejs') %>

<div class="buttons_bar">
        <div class="select_escalao">
            <a href="/admin/escaloes" class="option_btn <%= (filtro < 0) ? 'option_btn__selected' : '' %>"><i class="fa fa-users"></i>Todos</a>
            <a href="/admin/escaloes/filtro/M" class="option_btn <%= (filtro == 1) ? 'option_btn__selected' : '' %>"><i class="fa fa-male"></i>Masculino</a>
            <a href="/admin/escaloes/filtro/F" class="option_btn <%= (filtro == 0) ? 'option_btn__selected' : '' %>"><i class="fa fa-female"></i>Feminino</a>
        </div>
    <div class="action_btns a-right">
        <a href="/admin/escaloes/adicionarEscalao" class="btn primary_btn"><i class="fa fa-plus"></i>Adicionar Escal찾o</a>
    </div>
</div>

<table class="listTable">
    <thead>
        <tr>
            <th>Escal찾o</th>
            <th>Sexo</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% if(escaloes.length > 0) { %>
        <% escaloes.forEach(function(escalao){ %>
            <tr>
                <td class="escalao"><%= escalao.designacao %></td>
                <td class="w30 table_cell_center sexo"><%= escalao.sexo == 0 ? 'Feminino' : 'Masculino' %></td>
                <td class="w10"><a href="/admin/escaloes/editarEscalao/<%= escalao.escalaoId %>" class="btn edit_btn"><i class="fa fa-edit"></i>Editar</a></td>
                <td class="w10"><% if(escalao.eliminavel){ %><a href="" class="btn delete_btn" data-escalao="<%= escalao.escalaoId %>"><i class="fa fa-trash"></i>Eliminar</a><% } %></td>
            </tr>
        <% }); %>
    <% } else { %>
        <tr>
            <td colspan="4">N찾o existem escal천es registados</td>
        </tr>
    <% } %>
    </tbody>
</table>

<script src="/js/escaloes.js"></script>
<%- include('../includes/footer.ejs') %>