<%- include('../includes/header.ejs') %>

<div class="barraTorneio">
    <div class="barraTorneio__buttons">
        <a href="/admin/utilizadores/adicionarUtilizador" class="btn btn-primary">Adicionar Utilizador</a>
    </div>
</div>

<%- include('../includes/breadcrumbs.ejs') %>

<div class="container_wrapper">
    <div class="actionBar__wrapper">
        <h2 class="actionBar__title">Utilizadores</h2>
    </div>

    <div class="table__wrapper">
        <table class="mainTable">
            <thead>
                <tr>
                    <th width="50px"></th>
                    <th class="mainTable-headerElement-left">Nome de Utilizador</th>
                    <th class="mainTable-headerElement-left">Nível</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% if(users.length > 0) { %>
                    <% users.forEach(function(user){ %>
                        <tr>
                            <td>
                                <% if(user.level === 10) { %>
                                    <i class="fas fa-key"></i>
                                <% } else if(user.level === 5) { %>
                                    <i class="fas fa-user-cog"></i>
                                <% } else { %>
                                    <i class="fas fa-user"></i>
                                <% } %>
                            </td>
                            <td class="utilizadores_username"><%= user.username %></td>
                            <td>
                                <div class="customSelect userLevelChangeSelect">
                                    <div class="customSelect__header">
                                            <%= (user.level === 10) ? 'Administrador' : (user.level === 5) ? 'Gestor' : 'Utilizador' %>
                                    </div>
                                    <div class="customSelect__list">
                                        <a class="customSelect__links<%= user.level == 0 ? ' customSelect__links-selected': '' %>" href="/admin/utilizadores/changeLevel/<%= user.userId %>/level/0">Utilizador</a>
                                        <a class="customSelect__links<%= user.level == 5 ? ' customSelect__links-selected': '' %>" href="/admin/utilizadores/changeLevel/<%= user.userId %>/level/5">Gestor</a>
                                        <a class="customSelect__links<%= user.level == 10 ? ' customSelect__links-selected': '' %>" href="/admin/utilizadores/changeLevel/<%= user.userId %>/level/10">Administrador</a>
                                    </div>
                                </div>
                            </td>
                            <td class="detalhesBtn__column"><a href="/admin/utilizadores/alterarPasswordUtilizador/<%= user.userId %>" class="btn btn-secondary">Alterar Password</a></td>
                            <td class="deleteBtn__column"><a class="btn btn-delete" data-user="<%= user.userId %>"><i class="fa fa-trash-alt"></i></a></td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="5">Não existem utilizadores registados</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<script src="/js/utilizadores.js"></script>
<script src="/js/customSelect.js"></script>
<%- include('../includes/footer.ejs') %>