<div class="navigation__wrapper">
    <img src="/imagens/logoMalha.png" alt="Logotipo Malha" class="logo">
    <div class="navigation">
        <ul>
            <li <%= (typeof menuTorneio != 'undefined')? "class=menuSelected" : '' %>>
                <a href="/torneio"><i class="fas fa-trophy"></i>Competição</a>
                
            </li>
            <li <%= (typeof menuEquipas != 'undefined')? "class=menuSelected" : '' %>><a href="/equipas"><i class="fas fa-user-friends"></i>Equipas</a></li>
            <li <%= (typeof menuListagens != 'undefined')? "class=menuSelected" : '' %>><a href="/listagens"><i class="fas fa-list"></i>Listagens</a></li>
            <% if(loggedUser.level === 10 || loggedUser.level === 5){ %>
                <li class="adminMenu <%= (typeof menuAdmin != 'undefined')? 'adminMenu_open' : 'adminMenu_dropMenu' %>"><a href="/admin"><i class="fas fa-user-cog"></i>Administração</a>
                    <ul>
                        <li <%= (typeof menuAdminLocalidades != 'undefined')? "class=menuSelected" : '' %>><a href="/admin/localidades">Localidades</a></li>
                        <li <%= (typeof menuAdminEscaloes != 'undefined')? "class=menuSelected" : '' %>><a href="/admin/escaloes">Escalões</a></li>
                        <li <%= (typeof menuAdminTorneios != 'undefined')? "class=menuSelected" : '' %>><a href="/admin/torneios">Competição</a></li>
                        <% if(loggedUser.level === 10){ %>
                            <li <%= (typeof menuAdminUtilizadores != 'undefined')? "class=menuSelected" : '' %>><a href="/admin/utilizadores">Utilizadores</a></li>
                            <li <%= (typeof menuAdminConfig != 'undefined')? "class=menuSelected" : '' %>><a href="/admin/configuracoes">Configurações</a></li>
                        <% } %>
                    </ul>
                </li>
            <% } %>
        </ul>
    </div>

    <div class="user__wrapper">
        <div class="user">
            <% if(loggedUser){ %><i class="fa fa-user-circle"></i><%= loggedUser.username %><% } %>
        </div>
        <div class="user_nav">
            <ul>
                <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>