<%- include('includes/header.ejs') %>
<div class="dummyTopSpacer"></div>
<%- include('includes/breadcrumbs.ejs') %>

<div class="container_wrapper">
    <div class="actionBar__wrapper">
        <h2 class="actionBar__title">Alterar Password</h2>
    </div>

    <div class="form__wrapper">
        <h4><%= user.username %></h4>
        <form action="/alterarPassword/<%= user.userId %>?_method=PUT" method="post">
            <div class="formInput__wrapper">
                <label for="currentPassword" class="inputLabel">Password Actual <span class="labelRequiredField">*</span></label>
                <input type="password" name="currentPassword" id="currentPassword" size="40" required 
                    <% 
                        if(locals.validationErrors){
                            const erro = validationErrors.find(el => el.param === 'currentPassword');
                            if(erro){
                    %>
                                class="inputError" value="<%= erro.value %>"
                            <% } %>
                    <% } %>
                >
                <% 
                    if(locals.validationErrors){
                        const erro = validationErrors.find(el => el.param === 'currentPassword');
                        if(erro){
                %>
                            <p class="inputErrorMsg">
                                <%= erro.msg %>
                            </p>
                        <% } %>
                <% } %>
            </div>
            <div class="formInput__wrapper">
                <label for="newPassword" class="inputLabel">Nova password <span class="labelRequiredField">*</span></label>
                <input type="password" name="newPassword" id="newPassword" size="40" required 
                    <% 
                        if(locals.validationErrors){
                            const erro = validationErrors.find(el => el.param === 'newPassword');
                            if(erro){
                    %>
                                class="inputError"
                            <% } %>
                    <% } %>
                >
                <% 
                    if(locals.validationErrors){
                        const erro = validationErrors.find(el => el.param === 'newPassword');
                        if(erro){
                %>
                            <p class="inputErrorMsg">
                                <%= erro.msg %>
                            </p>
                        <% } %>
                <% } %>
            </div>
            <div class="formInput__wrapper">
                <label for="confirmNewPassword" class="inputLabel">Confirmar Nova Password <span class="labelRequiredField">*</span></label>
                <input type="password" name="confirmNewPassword" id="confirmNewPassword" size="40" required
                <% 
                        if(locals.validationErrors){
                            const erro = validationErrors.find(el => el.param === 'confirmNewPassword');
                            if(erro){
                    %>
                                class="inputError"
                            <% } %>
                    <% } %>
                >
                <% 
                    if(locals.validationErrors){
                        const erro = validationErrors.find(el => el.param === 'confirmNewPassword');
                        if(erro){
                %>
                            <p class="inputErrorMsg">
                                <%= erro.msg %>
                            </p>
                        <% } %>
                <% } %>
            </div>
            <div class="inputBtnBar">
                <input type="submit" name="alterar" value="Alterar" class="btn btn-primary">
                <a href="/" class="btn-cancel">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<%- include('includes/footer.ejs') %>