<%- include('includes/header.ejs') %>
<div class="dummyTopSpacer"></div>
<%- include('includes/breadcrumbs.ejs') %>

<div class="container_wrapper">
    <div class="actionBar__wrapper">
        <h2 class="actionBar__title">Alterar Password</h2>
    </div>

    <div class="form__wrapper">
        <h4><%= user.username %></h4>
        <form action="/alterarPassword/<%= user.userId %>?_method=PUT" method="post">
            <div class="formInput__wrapper">
                <label for="password" class="inputLabel">Definir password <span class="labelRequiredField">*</span></label>
                <input type="password" name="password" id="password" size="40" required 
                    <% 
                        if(typeof validationErrors != 'undefined'){
                            const erro = validationErrors.find(el => el.param === 'password');
                            if(erro){
                    %>
                                class="inputError"
                            <% } %>
                    <% } %>
                >
                <% 
                    if(typeof validationErrors != 'undefined'){
                        const erro = validationErrors.find(el => el.param === 'password');
                        if(erro){
                %>
                            <p class="inputErrorMsg">
                                <%= erro.msg %>
                            </p>
                        <% } %>
                <% } %>
            </div>
            <div class="formInput__wrapper">
                <label for="confirmPassword" class="inputLabel">Confirmar Password <span class="labelRequiredField">*</span></label>
                <input type="password" name="confirmPassword" id="confirmPassword" size="40" required
                <% 
                        if(typeof validationErrors != 'undefined'){
                            const erro = validationErrors.find(el => el.param === 'confirmPassword');
                            if(erro){
                    %>
                                class="inputError"
                            <% } %>
                    <% } %>
                >
                <% 
                    if(typeof validationErrors != 'undefined'){
                        const erro = validationErrors.find(el => el.param === 'confirmPassword');
                        if(erro){
                %>
                            <p class="inputErrorMsg">
                                <%= erro.msg %>
                            </p>
                        <% } %>
                <% } %>
            </div>
            <div class="inputBtnBar">
                <input type="submit" name="alterar" value="Alterar" class="btn btn-primary">
                <a href="/" class="btn-cancel">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<%- include('includes/footer.ejs') %>