<%- include('../includes/header.ejs') %>

<% if(torneio != null){ %>
    <div class="title__bar">
        <h1><%= torneio.designacao %> - <%= torneio.localidade %></h1>
        <h3><%= torneio.ano %></h3>
    </div>

    <% if(listaCampos.length > 0) { %>
        <% listaCampos.forEach(function(campo){ %>
            <% let posicao = 1; %>
            <div class="campo__title">Campo <%= campo.campo %></div>
            <table class="listTable">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Equipa</th>
                        <th colspan="2">Jogadores</th>
                        <th>Localidade</th>
                        <th>Jogos Ganhos</th>
                        <th>Pontos</th>
                    </tr>
                </thead>
                <tbody>
                <% if(campo.classificacao.length > 0) { %>
                    <% campo.classificacao.forEach(function(equipa){ %>
                        <tr>
                            <td><%= posicao++ %></td>
                            <td><%= equipa.equipaId %></td>
                            <td><%= equipa.primeiroElemento %></td>
                            <td><%= equipa.segundoElemento %></td>
                            <td><%= equipa.localidade %></td>
                            <td><%= equipa.vitorias %></td>
                            <td><%= equipa.pontos %></td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="3">Não existem classificações.</td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        <% }); %>
    <% } else { %>

    <% } %>


<% } else { %>
    <h2>Oops.. Algo correu mal!</h2>
    <p>Verifique se existem torneios registados ou activados.</p>
<% } %>

<%- include('../includes/footer.ejs') %>