<%- include('../includes/header.ejs') %>
<%- include('../includes/breadcrumbs.ejs') %>

<% if(typeof torneio != 'undefined' && torneio != null){ %>
    <div class="title__bar">
        <h1><%= torneio.designacao %> - <%= torneio.localidade %></h1>
        <h3><%= torneio.ano %></h3>
    </div>

    <% if(typeof messages != 'undefined'){ %>
        <div class="messages">
            <p><%= messages.msg %></p>
            <a href="/equipas" class="btn primary_btn">Adicionar Equipas</a>
        </div>
    <% } else { %>

<div class="table_sidebar__wrapper">
    <div class="table__content">
        <div class="buttons_bar">
            <div class="search_bar">
                <% if(typeof equipaId != 'undefined'){ %>
                    <div class="search_equipaID">
                        <%= equipaId %>
                        <a href="/equipas"><i class="fas fa-times-circle"></i></a>
                    </div>
                <% } %>

                <form action="/equipas/pesquisa" method="post" class="searchBox">
                    <input type="text" name="searchTeamID" class="searchBox__input" pattern="^[0-9]+$" placeholder="Equipa"/>
                    <button class="searchBox__btn"><i class="fa fa-search no-margin"></i></button>
                </form>
            </div>
            <div class="action_btns a-right">
                <a href="/torneio/classificacao/escalao/<%= info.escalaoId %>/fase/<%= info.fase %>/campo/<%= info.campo %>" clasS="btn classificacao_btn"><i class="fas fa-list"></i>Classificação</a>
                <button class="btn print_btn"><i class="fas fa-print"></i>Imprimir</button>
            </div>
        </div>

        <div class="escalaoInfo">
            <h4><%= info.escalao.designacao %> (<%= (info.escalao.sexo == 1) ? 'Masculino' : 'Feminino' %>)</h4>
        </div>

        <% if(typeof campos != 'undefined' && campos.length > 0) { %>
            <% campos.forEach(function(campo){ %>
                <div class="campo__wrapper">
                    <div class="campo__title">Campo <%= (info.fase != 100) ? campo.campo : (campo.campo == 1) ? campo.campo + ' - Final' : campo.campo + ' - 3º e 4º lugar' %></div>
                    <div class="campo__labels">
                        <div class="parcial_label">Parcial 1</div>
                        <div class="parcial_label">Parcial 2</div>
                        <div class="parcial_label">Parcial 3</div>
                        <div class="vencedor_label">Pontuação</div>
                    </div>

                    <% campo.jogos.forEach(function(jogo){ %>
                    <form action="" method="post" class="resultados__form">
                        <div class="equipasInfo__wrapper">
                            <div class="equipas__wrapper equipa_parciais">
                                <div class="equipa">
                                    <div class="equipa_id"><%= jogo.equipa1Id %></div>
                                    <div class="equipa_nome"><%= jogo.equipa1PrimeiroElemento %></div>
                                    <div class="equipa_nome"><%= jogo.equipa1SegundoElemento %></div>
                                    <div class="equipa_localidade"><%= jogo.equipa1Localidade %></div>
                                    <div class="equipa_parcial"><input type="text" class="parcial" name="equipa1_parcial1" size="8" maxlength="2"></div>
                                    <div class="equipa_parcial"><input type="text" class="parcial" name="equipa1_parcial2" size="8" maxlength="2"></div>
                                    <div class="equipa_parcial"><input type="text" class="parcial" name="equipa1_parcial3" size="8" maxlength="2"></div>
                                    <div class="equipa_vencedor equipa1_pontos">&nbsp;</div>
                                </div>
                                <div class="equipa">
                                    <div class="equipa_id"><%= jogo.equipa2Id %></div>
                                    <div class="equipa_nome"><%= jogo.equipa2PrimeiroElemento %></div>
                                    <div class="equipa_nome"><%= jogo.equipa2SegundoElemento %></div>
                                    <div class="equipa_localidade"><%= jogo.equipa2Localidade %></div>
                                    <div class="equipa_parcial"><input type="text" class="parcial" name="equipa2_parcial1" size="8" maxlength="2"></div>
                                    <div class="equipa_parcial"><input type="text" class="parcial" name="equipa2_parcial2" size="8" maxlength="2"></div>
                                    <div class="equipa_parcial"><input type="text" class="parcial" name="equipa2_parcial3" size="8" maxlength="2"></div>
                                    <div class="equipa_vencedor equipa2_pontos">&nbsp;</div>
                                </div>
                            </div>
                            <div class="btn_wrapper">
                                <a href="" class="btn__guardar-resultados" name="guardaResultados" data-jogoid="<%= jogo.jogoId %>">Guardar</a>
                            </div>
                        </div>
                    </form>
                    <% }); %>

                    <% campo.jogosFinalizados.forEach(function(jogo){ %>
                        <form action="" method="post" class="resultados__form">
                            <div class="equipasInfo__wrapper resultados_finalizados">
                                <div class="equipas__wrapper">
                                    <div class="equipa">
                                        <div class="equipa_id"><%= jogo.equipa1Id %></div>
                                        <div class="equipa_nome"><%= jogo.equipa1PrimeiroElemento %></div>
                                        <div class="equipa_nome"><%= jogo.equipa1SegundoElemento %></div>
                                        <div class="equipa_localidade"><%= jogo.equipa1Localidade %></div>
                                        <div class="equipa_parcial"><%= jogo.equipa1Parciais.parcial1 %></div>
                                        <div class="equipa_parcial"><%= jogo.equipa1Parciais.parcial2 %></div>
                                        <div class="equipa_parcial"><%= jogo.equipa1Parciais.parcial3 %></div>
                                        <div class="equipa_vencedor equipa1_pontos"><%= jogo.equipa1Pontos %></div>
                                    </div>
                                    <div class="equipa">
                                        <div class="equipa_id"><%= jogo.equipa2Id %></div>
                                        <div class="equipa_nome"><%= jogo.equipa2PrimeiroElemento %></div>
                                        <div class="equipa_nome"><%= jogo.equipa2SegundoElemento %></div>
                                        <div class="equipa_localidade"><%= jogo.equipa2Localidade %></div>
                                        <div class="equipa_parcial"><%= jogo.equipa2Parciais.parcial1 %></div>
                                        <div class="equipa_parcial"><%= jogo.equipa2Parciais.parcial2 %></div>
                                        <div class="equipa_parcial"><%= jogo.equipa2Parciais.parcial3 %></div>
                                        <div class="equipa_vencedor equipa2_pontos"><%= jogo.equipa2Pontos %></div>
                                    </div>
                                </div>
                                <div class="btn_wrapper">
                                    <% if(info.editavel){ %>
                                        <a href="" class="btn__edit-resultados" name="editarResultados" data-jogoid="<%= jogo.jogoId %>"">Editar</a>
                                    <% } %>
                                    <!--<a href="" class="btn__delete-resultados" name="eliminarResultados" data-jogoid="{{jogo_id}}">Eliminar</a>-->
                                </div>
                            </div>
                        </form>
                    <% }); %>
                </div>
            <% }); %>
            </div>
            <div class="sidebar__content">
                <p class="sidebar__title">Campos</p>
                <a href="/torneio/resultados/escalao/<%= info.escalaoId %>/fase/<%= info.fase %>/campo/0" class="campo <%= (info.campo == 0) ? 'campo_selected' : '' %>">
                    Todos os Campos
                </a>
                <div class="campos">
                    <% listaCampos.forEach(function(campo){ %>
                        <a href="/torneio/resultados/escalao/<%= info.escalaoId %>/fase/<%= info.fase %>/campo/<%= campo.campo %>" class="campo <%= (info.campo != 0 && info.campo == campo.campo) ? 'campo_selected' : '' %> <%= campo.campoCompleto ? 'campo_completed' : '' %>">
                            <%= (info.fase != 100) ? campo.campo : (campo.campo == 1) ? 'Final' : '3º e 4º' %>
                        </a>
                    <% }); %>
                </div>
            </div>
</div>
        <div class="fase__wrapper">
            <% info.listaFases.forEach(function(fase){ %>
                <a href="/torneio/resultados/escalao/<%= info.escalaoId %>/fase/<%= fase %>/campo/<%= info.campo %>" class="fase__item <%= fase == info.fase ? 'fase__item-active' : '' %>">
                    Fase <%= (fase != 100) ? fase : 'Final' %>
                </a>
            <% }); %>
        </div>
        <% } else { %>
            <h2>Oops.. Algo correu mal!</h2>
        <% } %>
    <% } %>
<% } else { %>
    <h2>Oops.. Algo correu mal!</h2>
    <p>Verifique se existem torneios registados ou activados.</p>
<% } %>
<script src="/js/pdfmake.min.js"></script>
<script src="/js/vfs_fonts.js"></script>
<script src="/js/printFunctions.js"></script>
<script src="/js/jogos.js"></script>
<%- include('../includes/footer.ejs') %>