<%- include('../includes/header.ejs') %>

<% if(torneio != null){ %>
    <div class="barraTorneio">
        <div class="barraTorneio__title">
            <h1><%= torneio.designacao %></h1>
            <h3><%= torneio.localidade %>, <%= torneio.ano %></h3>
        </div>
        <% if(numTotalJogos == 0){ %>
            <div class="barraTorneio__buttons">
                <a href="/torneio/distribuirTodasEquipas" class="btn btn-primary">Distribuir Todos os Escalões</a>
            </div>
        <% } %>
    </div>

    <%- include('../includes/breadcrumbs.ejs') %>
    <div class="container_wrapper">
        <div class="actionBar__wrapper">
            <h2 class="actionBar__title">Competição</h2>
        </div>
        <%- JSON.stringify(escaloesMasculinos[2]) %>
        <div class="competicao__wrapper">
            <% if(escaloesMasculinos.length > 0){ %>
                <h3>Masculinos</h3>
                <div class="competicaoEscalao_wrapper">
                    <% escaloesMasculinos.forEach(function(escalao){ %>
                        <%- include('includes/escalao.ejs', {escalao: escalao}) %>
                    <% }); %>
                </div>
            <% } %>

            <% if(escaloesFemininos.length > 0){ %>
                <h3>Femininos</h3>
                <div class="competicaoEscalao_wrapper">
                    <% escaloesFemininos.forEach(function(escalao){ %>
                        <%- include('includes/escalao.ejs', {escalao: escalao}) %>
                    <% }); %>
                </div>
            <% } %>
        </div>
    </div>
<% } else { %>
    <%- include('../includes/noTorneio.ejs') %>
<% } %>

<script src="/js/customSelect.js"></script>
<script>

function removeAllSelectedClasses(campos, allCampos){
    campos.forEach(campo => campo.classList.remove('customSelect__campos-link-selected'));
    allCampos.classList.remove('customSelect__campos-link-selected');
}

const campos = document.querySelectorAll('.customSelect__links-campos');
const camposInput = document.getElementsByName('campos');
const camposHeader = document.querySelector('.customSelect__camposHeader');
const camposAllSelect = document.querySelector('.customSelect__campos-all-link');
campos.forEach(campo => {
    campo.addEventListener('click', function(e){
        e.preventDefault();
        const numCampo = this.dataset.campo;
        camposInput[0].value = numCampo;
        camposHeader.textContent = 'Campo ' + numCampo;
        removeAllSelectedClasses(campos, camposAllSelect);
        this.classList.add('customSelect__campos-link-selected');
    });
});

camposAllSelect.addEventListener('click', function(e){
    camposInput[0].value = 0;
    removeAllSelectedClasses(campos, camposAllSelect);
    this.classList.add('customSelect__campos-link-selected');
});

</script>
<%- include('../includes/footer.ejs') %>