<%- include('../includes/header.ejs') %>

<% if(torneio != null){ %>
    <div class="barraTorneio">
        <div class="barraTorneio__title">
            <h1><%= torneio.designacao %></h1>
            <h3><%= torneio.localidade %>, <%= torneio.ano %></h3>
        </div>
        <% if(numTotalJogos == 0){ %>
            <div class="barraTorneio__buttons">
                <a href="/torneio/distribuirTodasEquipas" class="btn btn-primary">Distribuir Todos os Escalões</a>
            </div>
        <% } %>
    </div>

    <%- include('../includes/breadcrumbs.ejs') %>
    <div class="container_wrapper">
        <div class="actionBar__wrapper">
            <h2 class="actionBar__title">Competição</h2>
        </div>
    </div>
<% } else { %>
    <%- include('../includes/noTorneio.ejs') %>
<% } %>

<%- include('../includes/footer.ejs') %>