<%- include('../includes/header.ejs') %>

<% if(torneio != null){ %>
    <div class="title__bar">
        <h1><%= torneio.designacao %> - <%= torneio.localidade %></h1>
        <h3><%= torneio.ano %></h3>
    </div>

    <div class="selecionaEquipasWrapper">
        <% if(numTotalJogos == 0){ %>
            <div class="distribuirTodas_btn">
                <a href="/torneio/distribuirTodasEquipas" class="btn primary_btn">Distribuir todas as equipas de todos os escalões</a>
            </div>
        <% } %>

        <div class="escaloesSelect__wrapper">
                <% if(escaloesMasculinos.length > 0){ %>
                <div class="escalao__wrapper">
                    <div class="escalao__title">
                        Masculinos
                    </div>
                    <div class="escalaoSelect_wrapper">
                        <% escaloesMasculinos.forEach(function(escalao){ %>
                            <div class="escalaoSelect__item">
                                <div class="escalaoSelect__info">
                                    <div class="escalaoSelect__item-title"><%= escalao.designacao %></div>
                                    <% if(escalao.numEquipas < 2){ %>
                                        <p class="escalao_err_msg">Não existem equipas suficientes</p>
                                    <% } else { %>
                                        <% if(escalao.fase == 0){ %>
                                            <a href="/torneio/distribuirEquipasPorEscalao/escalao/<%= escalao.escalaoId %>" class="escalaoSelect__btn">Distribuir Equipas</a>
                                        <% } else { %>
                                            <div class="escalaoSelect__fase">
                                                <div class="escalaoSelect__fase-info">
                                                    <p>Fase</p>
                                                    <p><%= (escalao.fase != 100) ? escalao.fase : 'Final' %></p>
                                                </div>
                                            </div>

                                            <% if(escalao.todosCamposCompletos){ %>
                                                <a href="/torneio/processaProximaFase/escalao/<%= escalao.escalaoId %>" class="escalaoSelect__btn">Processa<br>Próxima Fase</a>
                                            <% } else { %>
                                                <% if(escalao.fase != 100){ %>
                                                    <a href="/torneio/resultados/escalao/<%= escalao.escalaoId %>/fase/<%= escalao.fase %>/campo/0" class="escalaoSelect__btn"><img src="/imagens/double-arrow.svg" class="arrow"></a>
                                                <% } %>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                </div>
                                <% if(typeof escalao.campos != 'undefined'){ %>
                                    <div class="escalaoSelect__campos">
                                        <% escalao.campos.forEach(function(campo){ %>
                                            <a href="/torneio/resultados/escalao/<%= escalao.escalaoId %>/fase/<%= escalao.fase %>/campo/<%= campo.campo %>" class="campo <%= campo.completo ? 'campo_completed' : '' %>"><%= campo.campo %></a>
                                        <% }); %>
                                    </div>
                                <% } %>
                            </div>
                        <% }); %>
                    </div>
                </div>
                <% } %>

                <% if(escaloesFemininos.length > 0){ %>
                    <div class="escalao__wrapper">
                        <div class="escalao__title">
                            Femininos
                        </div>
                        <div class="escalaoSelect_wrapper">
                            <% escaloesFemininos.forEach(function(escalao){ %>
                                <div class="escalaoSelect__item">
                                    <div class="escalaoSelect__info">
                                        <div class="escalaoSelect__item-title"><%= escalao.designacao %></div>
                                        <% if(escalao.numEquipas < 2){ %>
                                            <p class="escalao_err_msg">Não existem equipas suficientes</p>
                                        <% } else { %>
                                            <% if(escalao.fase == 0){ %>
                                                <a href="/torneio/distribuirEquipasPorEscalao/escalao/<%= escalao.escalaoId %>" class="escalaoSelect__btn">Distribuir Equipas</a>
                                            <% } else { %>
                                                <div class="escalaoSelect__fase">
                                                    <div class="escalaoSelect__fase-info">
                                                        <p>Fase</p>
                                                        <p><%= (escalao.fase != 100) ? escalao.fase : 'Final' %></p>
                                                    </div>
                                                </div>
        
                                                <% if(escalao.todosCamposCompletos){ %>
                                                    <a href="/torneio/processaProximaFase/escalao/<%= escalao.escalaoId %>" class="escalaoSelect__btn">Processa<br>Próxima Fase</a>
                                                <% } else { %>
                                                    <a href="/torneio/resultados/escalao/<%= escalao.escalaoId %>/fase/<%= escalao.fase %>/campo/0" class="escalaoSelect__btn"><img src="/imagens/double-arrow.svg" class="arrow"></a>
                                                <% } %>
                                            <% } %>
                                        <% } %>
                                    </div>
                                    <% if(typeof escalao.campos != 'undefined'){ %>
                                        <div class="escalaoSelect__campos">
                                            <% escalao.campos.forEach(function(campo){ %>
                                                <a href="/torneio/resultados/escalao/<%= escalao.escalaoId %>/fase/<%= escalao.fase %>/campo/<%= campo.campo %>" class="campo <%= campo.completo ? 'campo_completed' : '' %>"><%= campo.campo %></a>
                                            <% }); %>
                                        </div>
                                    <% } %>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                <% } %>
            </div> 
    </div>

<% } else { %>
    <h2>Oops.. Algo correu mal!</h2>
    <p>Verifique se existem torneios registados ou activados.</p>
<% } %>

<%- include('../includes/footer.ejs') %>