<%- include('../includes/header.ejs') %>

<% if(torneio != null){ %>
    <div class="title__bar">
        <h1><%= torneio.designacao %> - <%= torneio.localidade %></h1>
        <h3><%= torneio.ano %></h3>
    </div>

    <div class="selecionaEquipasWrapper">
        <% if(numTotalJogos == 0){ %>
            <div class="distribuirTodas_btn">
                <a href="/torneio/distribuirTodasEquipas" class="btn primary_btn">Distribuir todas as equipas de todos os escalões</a>
            </div>
        <% } %>

        <div class="escaloesSelect__wrapper">
                <% if(escaloesMasculinos.length > 0){ %>
                <div class="escalao__wrapper">
                    <div class="escalao__title">
                        Masculino
                    </div>
                    <div class="escalaoSelect">
                        <% escaloesMasculinos.forEach(function(escalao){ %>
                            <div class="escalaoSelect__item">
                                <div class="escalaoSelect__item-title"><%= escalao.designacao %></div>
                                <% if(escalao.fase == 0){ %>
                                    <a href="/torneio/resultados/escalao/<%= escalao.escalaoId %>/fase/<%= escalao.fase %>" class="escalaoSelect__btn">Distribuir Equipas</a>
                                <% } else { %>
                                    <div class="escalaoSelect__fase">
                                        <div class="escalaoSelect__fase-info">
                                            <p>Fase</p>
                                            <p><%= escalao.fase %></p>
                                        </div>
                                    </div>

                                    <% if(escalao.todosCamposCompletos){ %>
                                        <a href="/torneio/resultados/escalao/<%= escalao.escalaoId %>/fase/<%= escalao.fase %>" class="escalaoSelect__btn">Todos Completos</a>
                                    <% } else { %>
                                        <a href="/torneio/resultados/escalao/<%= escalao.escalaoId %>/fase/<%= escalao.fase %>" class="escalaoSelect__btn"><img src="/imagens/double-arrow.svg" class="arrow"></a>
                                    <% } %>
                                <% } %>
                            </div>
                        <% }); %>
                    </div>
                </div>
                <% } %>
            </div> 
    </div>

<% } else { %>
    <h2>Oops.. Algo correu mal!</h2>
    <p>Verifique se existem torneios registados ou activados.</p>
<% } %>

<%- include('../includes/footer.ejs') %>