<% if(locals.escaloes){ %>
    <% if(escaloes.length > 0) { %>
        <% 
            const escalaoMasculino = escaloes.filter(el => el.sexo == 1); 
            if(escalaoMasculino.length > 0){
        %>
        <div class="escalaoCampos__wrapper">
            <h4>Masculinos</h4>
            <table class="mainTable">
                <thead>
                    <tr>
                        <th class="mainTable-headerElement-left">Escalão</th>
                    </tr>
                </thead>
                <tbody>
                    <% escalaoMasculino.forEach(escalao => { %>
                        <tr>
                            <td><%= escalao.designacao %></td>
                            <% if(escalao.editavel) { %>
                                <td align="right">
                                    <% for(let i = 0; i < 8; i++){ %>
                                        <input type="radio" class="escalaoNumCampos" value="<%= (i != 0) ? Math.pow(2,i): 0 %>" name="<%= escalao.escalaoId %>" id="<%= (escalao.escalaoId * 10) + i %>" 
                                        <% if(typeof escalao.campos != undefined && escalao.campos > 0){ %>
                                            <%= (escalao.campos == Math.pow(2,i)) ? 'checked' : '' %>
                                        <% } else { %>
                                            <%= (i == 0) ? 'checked' : '' %>
                                        <% } %>
                                        >
                                        <label for="<%= (escalao.escalaoId * 10) + i %>"><%= (i != 0) ? Math.pow(2,i): 0 %></label>
                                    <% } %>
                                </td>
                            <% } else { %>
                                <td align="right">
                                    <% for(let i = 0; i < 8; i++){ %>
                                        <p class="escalaoNumCampos__Info<%= (escalao.campos == Math.pow(2,i)) ? ' escalaoNumCampos__Info-selected' : '' %>"><%= (i != 0) ? Math.pow(2,i): 0 %></p>
                                    <% } %>
                                </td>
                            <% } %>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <%  } %>

        <% 
            const escalaoFeminino = escaloes.filter(el => el.sexo == 0); 
            if(escalaoFeminino.length > 0){
        %>
        <div class="escalaoCampos__wrapper">
            <h4>Femininos</h4>
            <table class="mainTable">
                <thead>
                    <tr>
                        <th class="mainTable-headerElement-left">Escalão</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% escalaoFeminino.forEach(escalao => { %>
                        <tr>
                            <td><%= escalao.designacao %></td>
                            <% if(escalao.editavel) { %>
                                <td align="right">
                                    <% for(let i = 0; i < 8; i++){ %>
                                        <input type="radio" class="escalaoNumCampos" value="<%= (i != 0) ? Math.pow(2,i): 0 %>" name="<%= escalao.escalaoId %>" id="<%= (escalao.escalaoId * 10) + i %>" 
                                        <% if(typeof escalao.campos != undefined && escalao.campos > 0){ %>
                                            <%= (escalao.campos == Math.pow(2,i)) ? 'checked' : '' %>
                                        <% } else { %>
                                            <%= (i == 0) ? 'checked' : '' %>
                                        <% } %>
                                        >
                                        <label for="<%= (escalao.escalaoId * 10) + i %>"><%= (i != 0) ? Math.pow(2,i): 0 %></label>
                                    <% } %>
                                </td>
                            <% } else { %>
                                <td align="right">
                                    <% for(let i = 0; i < 8; i++){ %>
                                        <p class="escalaoNumCampos__Info<%= (escalao.campos == Math.pow(2,i)) ? ' escalaoNumCampos__Info-selected' : '' %>"><%= (i != 0) ? Math.pow(2,i): 0 %></p>
                                    <% } %>
                                </td>
                            <% } %>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <%  } %>

    <% } else { %>
        <div class="tabNoContent__wrapper">
            <div class="tabNoContent">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="layer-group" class="svg-inline--fa fa-layer-group fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M12.41 148.02l232.94 105.67c6.8 3.09 14.49 3.09 21.29 0l232.94-105.67c16.55-7.51 16.55-32.52 0-40.03L266.65 2.31a25.607 25.607 0 0 0-21.29 0L12.41 107.98c-16.55 7.51-16.55 32.53 0 40.04zm487.18 88.28l-58.09-26.33-161.64 73.27c-7.56 3.43-15.59 5.17-23.86 5.17s-16.29-1.74-23.86-5.17L70.51 209.97l-58.1 26.33c-16.55 7.5-16.55 32.5 0 40l232.94 105.59c6.8 3.08 14.49 3.08 21.29 0L499.59 276.3c16.55-7.5 16.55-32.5 0-40zm0 127.8l-57.87-26.23-161.86 73.37c-7.56 3.43-15.59 5.17-23.86 5.17s-16.29-1.74-23.86-5.17L70.29 337.87 12.41 364.1c-16.55 7.5-16.55 32.5 0 40l232.94 105.59c6.8 3.08 14.49 3.08 21.29 0L499.59 404.1c16.55-7.5 16.55-32.5 0-40z"></path></svg>
                <p class="tabNoContent__title">Não existem Escalões registados!</p>
                <% if(loggedUser.level === 10 || loggedUser.level === 5){ %>
                    <a href="/admin/escaloes" class="btn btn-secondary noTorneio_btn">Adicionar Escalões</a>
                <% } else { %>
                    <p class="noTorneio__subTitle">Contacte o administrador para adicionar Escalões</p>
                <% } %>
            </div>
        </div>
    <% }%>
<% } else { %>
    <p>Não foi possível obter os escalões.</p>
<% } %>