<%- include('../includes/header.ejs') %>

<% if(torneio != null){ %>
    <div class="barraTorneio">
        <div class="barraTorneio__title">
            <h1><%= torneio.designacao %></h1>
            <h3><%= torneio.localidade %>, <%= torneio.ano %></h3>
        </div>
    </div>

    <%- include('../includes/breadcrumbs.ejs') %>
    <div class="container_wrapper">
        <div class="actionBar__wrapper">
            <h2 class="actionBar__title">Editar Equipa</h2>
        </div>
    </div>

    <div class="tabbedMenu__wrapper">
        <ul class="tabbedMenu">
            <li class="tabbedMenu__item tabbedMenu__item-selected">Equipa</li>
            <li class="tabbedMenu__item">Percurso no Torneio</li>
        </ul>
    </div>

    <div class="tabbedContent__wrapper">
        <form action="/equipas/editarEquipa/<%= equipa.oldEscalaoId %>/<%= equipa.equipaId %>?_method=PUT" method="post">
        <div id="equipa" class="tabbedContainer tabbedContainer-open">
            <%- include('includes/equipaInfo.ejs') %>
        </div>
        <div id="percurso" class="tabbedContainer">
            <%- include('includes/equipaPercurso.ejs') %>
        </div>
        <div class="inputBtnBar">
            <input type="submit" name="actualizar" value="Actualizar" class="btn btn-primary">
            <a href="/equipas" class="btn-cancel">Cancelar</a>
        </div>
        </form>
    </div>

    <div class="overlay">
        <div class="overlayContainer__wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" class="overlayContainer__close" viewBox="0 0 36 36"><g transform="translate(-1126 -126)"><circle cx="16" cy="16" r="16" transform="translate(1128 128)" fill="#fff"/><path d="M26,8A18,18,0,1,0,44,26,18,18,0,0,0,26,8Zm8.826,22.725a.872.872,0,0,1,0,1.234l-2.874,2.867a.872.872,0,0,1-1.234,0L26,30.065l-4.725,4.761a.872.872,0,0,1-1.234,0l-2.867-2.874a.872.872,0,0,1,0-1.234L21.935,26l-4.761-4.725a.872.872,0,0,1,0-1.234l2.874-2.874a.872.872,0,0,1,1.234,0L26,21.935l4.725-4.761a.872.872,0,0,1,1.234,0l2.874,2.874a.872.872,0,0,1,0,1.234L30.065,26Z" transform="translate(1118 118)"/></g></svg>
            <div class="overlayContent"></div>
        </div>
    </div>

<% } else { %>
    <h2>Oops.. Algo correu mal!</h2>
    <p>Verifique se existem torneios registados ou activados.</p>
<% } %>

<script src="/js/customSelect.js"></script>
<script>
    // TAB CONTROLLER
    function closeAllTabs(tabItems, tabContainers){
        tabItems.forEach((item, index) => {
            item.classList.remove('tabbedMenu__item-selected');
            tabContainers[index].classList.remove('tabbedContainer-open');
        });
    }
    const tabItems = document.querySelectorAll('.tabbedMenu__item');
    const tabContainers = document.querySelectorAll('.tabbedContainer');

    tabItems.forEach((item, index) => {
        item.addEventListener('click', function(){
            closeAllTabs(tabItems, tabContainers);
            item.classList.add('tabbedMenu__item-selected');
            tabContainers[index].classList.add('tabbedContainer-open');
        });
    });

    // LOCALIDADES DROP BOX
    const listaLocalidades = document.querySelectorAll('.adicionarEquipaLocalidadesSelect__list > a');
    const localidadeInput = document.getElementsByName('localidade');
    const localidadesSelectHeader = document.querySelector('.adicionarEquipaLocalidadesSelect__header');
    listaLocalidades.forEach(localidade => {
        localidade.addEventListener('click', function(e){
            const localidadeId = parseInt(localidade.dataset.localidade);
            const nomeLocalidade = localidade.textContent;
            localidadeInput[0].value = localidadeId;
            localidadesSelectHeader.textContent = nomeLocalidade;
        });
    });

    // SHOW OVERLAY
    const eyeBtn = document.querySelectorAll('.loginForm__showPassword--btn');
    const percursoJogos = document.querySelectorAll('.percursoJogos');

    const overlay = document.querySelector('.overlay');
    const overlayWrapper = document.querySelector('.overlayContainer__wrapper');
    const overlayContent = document.querySelector('.overlayContent');
    const overlayCloseBtn = document.querySelector('.overlayContainer__close');
    eyeBtn.forEach((el, index) => {
        el.addEventListener('click', function(e){
            const content = percursoJogos[index].innerHTML;
            overlayContent.innerHTML = '';
            overlayContent.innerHTML = content;
            overlay.classList.toggle('overlay-show');
        });
    });

    overlayWrapper.addEventListener('click', function(e){
        e.stopPropagation();
    });

    overlay.addEventListener('click', closeOverlay);
    overlayCloseBtn.addEventListener('click', closeOverlay);

    function closeOverlay(){
        overlay.classList.remove('overlay-show');
    }
</script>
<%- include('../includes/footer.ejs') %>