<%- include('../includes/header.ejs') %>

<% if(torneio != null){ %>
    <div class="barraTorneio">
        <div class="barraTorneio__title">
            <h1><%= torneio.designacao %></h1>
            <h3><%= torneio.localidade %>, <%= torneio.ano %></h3>
        </div>
    </div>

    <%- include('../includes/breadcrumbs.ejs') %>
    <div class="container_wrapper">
        <div class="actionBar__wrapper">
            <h2 class="actionBar__title">Editar Equipa</h2>
        </div>
    </div>

    <div class="tabbedMenu__wrapper">
        <ul class="tabbedMenu">
            <li class="tabbedMenu__item tabbedMenu__item-selected">Equipa</li>
            <li class="tabbedMenu__item">Percurso no Torneio</li>
        </ul>
    </div>

    <div class="tabbedContent__wrapper">
        <form action="/equipas/editarEquipa/<%= equipa.oldEscalaoId %>/<%= equipa.equipaId %>?_method=PUT" method="post">
        <div id="equipa" class="tabbedContainer tabbedContainer-open">
            <%- include('includes/equipaInfo.ejs') %>
        </div>
        <div id="percurso" class="tabbedContainer">
            <%- include('includes/equipaPercurso.ejs') %>
        </div>
        <div class="inputBtnBar">
            <input type="submit" name="actualizar" value="Actualizar" class="btn btn-primary">
            <a href="/equipas" class="btn-cancel">Cancelar</a>
        </div>
        </form>
    </div>

    <div class="overlay">
        <div class="overlayContainer">

        </div>
    </div>

<% } else { %>
    <h2>Oops.. Algo correu mal!</h2>
    <p>Verifique se existem torneios registados ou activados.</p>
<% } %>

<script src="/js/customSelect.js"></script>
<script>
    // TAB CONTROLLER
    function closeAllTabs(tabItems, tabContainers){
        tabItems.forEach((item, index) => {
            item.classList.remove('tabbedMenu__item-selected');
            tabContainers[index].classList.remove('tabbedContainer-open');
        });
    }
    const tabItems = document.querySelectorAll('.tabbedMenu__item');
    const tabContainers = document.querySelectorAll('.tabbedContainer');

    tabItems.forEach((item, index) => {
        item.addEventListener('click', function(){
            closeAllTabs(tabItems, tabContainers);
            item.classList.add('tabbedMenu__item-selected');
            tabContainers[index].classList.add('tabbedContainer-open');
        });
    });

    // LOCALIDADES DROP BOX
    const listaLocalidades = document.querySelectorAll('.adicionarEquipaLocalidadesSelect__list > a');
    const localidadeInput = document.getElementsByName('localidade');
    const localidadesSelectHeader = document.querySelector('.adicionarEquipaLocalidadesSelect__header');
    listaLocalidades.forEach(localidade => {
        localidade.addEventListener('click', function(e){
            const localidadeId = parseInt(localidade.dataset.localidade);
            const nomeLocalidade = localidade.textContent;
            localidadeInput[0].value = localidadeId;
            localidadesSelectHeader.textContent = nomeLocalidade;
        });
    });

    // SHOW OVERLAY
    const eyeBtn = document.querySelectorAll('.loginForm__showPassword--btn');
    const percursoJogosFase = document.querySelectorAll('.percursoJogos_wrapper');

    const overlay = document.querySelector('.overlay');
    const overlayContainer = document.querySelector('.overlayContainer');
    eyeBtn.forEach((el, index) => {
        el.addEventListener('click', function(e){
            const content = percursoJogosFase[index].innerHTML;
            overlayContainer.innerHTML = '';
            overlayContainer.innerHTML = content;
            overlay.classList.toggle('overlay-show');
        });
    });

    overlay.addEventListener('click', function(e){
        this.classList.remove('overlay-show');
    });
</script>
<%- include('../includes/footer.ejs') %>