<%- include('../includes/header.ejs') %>

<% if(typeof equipa !== 'undefined'){ %>

    <p>Tem a certeza que deseja a equipa: </p>
    <p>Elementos:</p>
    <%= equipa.primeiroElemento %><br>
    <%= equipa.segundoElemento %><br>
    <p>Localidade: <%= equipa.localidade.nome %></p>
    <p>Escalão: <%= equipa.escalao.designacao %> (<%= equipa.escalao.sexo == 1 ? 'Masculino' : 'Feminino' %>)</p>

    <form action="/equipas/eliminarEquipa/<%= equipa.equipaId %>?_method=DELETE" method="post">
        <input type="radio" name="confirmacao" value="0" checked>Não
        <input type="radio" name="confirmacao" value="1">Sim, quero eliminar!
        <br>
        <input type="submit" value="Eliminar">
        <a href="/equipas">Cancelar</a>
    </form>
<% } else { %>
    <h1>Oops...Algo correu mal!</h1>
    <a href="/equipas">Voltar</a>
<% } %>

<%- include('../includes/footer.ejs') %>