<%- include('../includes/header.ejs') %>

<% if(torneio != null){ %>
    <div class="title__bar">
        <h1><%= torneio.designacao %> - <%= torneio.localidade %></h1>
        <h3><%= torneio.ano %></h3>
    </div>

    <% if(escaloes == null || escaloes.length == 0){ %>
        <div class="messages">
            Não existem escalões registados. Deve adicionar escalões para poder adicionar equipas.<br><a href="/admin/escaloes" class="btn primary_btn msg_link">Adicionar escalões</a>
        </div>
    <% } else if(localidades == null || localidades.length == 0){ %>
        <div class="messages">
            Não existem localidades registadas. Deve adicionar localidades para poder adicionar equipas.<br><a href="/admin/localidades" class="btn primary_btn msg_link">Adicionar localidades</a>
        </div>
    <% } else { %>

    <div class="table_sidebar__wrapper">
        <div class="table__content">
            <div class="buttons_bar">
                <div class="search_bar">
                    <% if(typeof equipaId != 'undefined'){ %>
                        <div class="search_equipaID">
                            <%= equipaId %>
                            <a href="/equipas"><i class="fas fa-times-circle"></i></a>
                        </div>
                    <% } %>
                    <form action="/equipas/pesquisa" method="post" class="searchBox">
                        <input type="text" name="pesquisaEquipaId" class="searchBox__input" pattern="^[0-9]+$" placeholder="Nº Equipa" required/>
                        <button class="searchBox__btn"><i class="fa fa-search no-margin"></i></button>
                    </form>
                    <div class="localidadesSearchWrapper">
                        <ul>
                            <li class="topDropMenu">
                                <div class="dropMenuTitle">
                                        Localidades <a href=""><i class="fas fa-times-circle"></a></i>
                                </div>
                                <div class="dropMenuListItems">
                                    <ul>
                                        <li class="dropItem"><a href="">Arraiolos</a></li>
                                        <li class="dropItem"><a href="">Mora</a></li>
                                        <li class="dropItem"><i class="fas fa-check"></i><a href="" class="dropItemselected">Évora</a></li>
                                        <li class="dropItem"><a href="">Portel</a></li>
                                        <li class="dropItem"><a href="">Estremoz</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="escaloesSearchWrapper">
                        <ul>
                            <li class="topDropMenu">
                                <div class="dropMenuTitle dropMenuTitleSelected">
                                    Sénior <a href=""><i class="fas fa-times-circle"></a></i>
                                </div>
                                <div class="dropMenuListItems">
                                    <ul>
                                        <li class="dropSubMenu">
                                            <div class="dropSubMenuTitle">
                                                Masculino
                                            </div>
                                            <ul>
                                                <li class="dropItem"><a href="">Jovem</a></li>
                                                <li class="dropItem"><i class="fas fa-check"></i><a href="" class="dropItemselected">Sénior</a></li>
                                                <li class="dropItem"><a href="">65+</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li class="dropSubMenu">
                                            <div class="dropSubMenuTitle">
                                                Feminino
                                            </div>
                                            <ul>
                                                <li class="dropItem"><a href="">Absolutos</a></li>
                                                <li class="dropItem"><a href="">65+</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="action_btns a-right">
                        <a href="/equipas/adicionarEquipa" class="btn primary_btn"><i class="fa fa-plus"></i>Adicionar Equipa</a>
                    <button class="btn print_btn" onclick="window.print()"><i class="fas fa-print"></i>Imprimir</button>
                </div>
            </div>
            <table class="listTable equipasTable">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Elementos</th>
                        <th>Localidade</th>
                        <th>Escalão</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <% if(typeof equipas != 'undefined' && equipas.length > 0){ %>
                    <% equipas.forEach(function(equipa){ %>
                        <tr>
                            <td class="w5"><%= equipa.equipaId %></td>
                            <td class="w5"><a href="/equipas/percurso/<%= equipa.equipaId %>" class="classificacoes_icon"><i class="fas fa-clipboard-list"></i></a></td>
                            <td><%= equipa.primeiroElemento %><br><%= equipa.segundoElemento %></td>
                            <td class="w20 table_cell_center"><%= equipa.localidade.nome %></td>
                            <td class="w20 table_cell_center"><%= equipa.escalao.designacao %><br>(<%= equipa.escalao.sexo == 0 ? 'Feminino': 'Masculino' %>)</td>
                            <td class="w5"><a href="/equipas/editarEquipa/<%= equipa.equipaId %>" class="btn edit_btn"><i class="fa fa-edit"></i>Editar</a></td>
                            <td class="w10"><a href="/equipas/eliminarEquipa/<%= equipa.equipaId %>" class="btn delete_btn"><i class="fa fa-trash"></i>Eliminar</a></td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="7">Não foram encontradas equipas registadas.</td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    <% } %>

<% } else { %>
    <h2>Oops.. Algo correu mal!</h2>
    <p>Verifique se existem torneios registados ou activados.</p>
<% } %>

<%- include('../includes/footer.ejs') %>