<%- include('../includes/header.ejs') %>

<% if(torneio != null){ %>
    <div class="title__bar">
        <h1><%= torneio.designacao %> - <%= torneio.localidade %></h1>
        <h3><%= torneio.ano %></h3>
    </div>

    <% if(escaloes == null || escaloes.length == 0){ %>
        <div class="messages">
            Não existem escalões registados. Deve adicionar escalões para poder adicionar equipas.<br><a href="/admin/escaloes" class="btn primary_btn msg_link">Adicionar escalões</a>
        </div>
    <% } else if(localidades == null || localidades.length == 0){ %>
        <div class="messages">
            Não existem localidades registadas. Deve adicionar localidades para poder adicionar equipas.<br><a href="/admin/localidades" class="btn primary_btn msg_link">Adicionar localidades</a>
        </div>
    <% } else { %>

    <div class="table_sidebar__wrapper">
        <div class="table__content">
            <div class="buttons_bar">
                <div class="search_bar">
                    <% if(typeof equipaId != 'undefined'){ %>
                        <div class="search_equipaID">
                            <%= equipaId %>
                            <a href="/equipas"><i class="fas fa-times-circle"></i></a>
                        </div>
                    <% } %>
                    <form action="/equipas/pesquisa" method="post" class="searchBox">
                        <input type="text" name="pesquisaEquipaId" class="searchBox__input" pattern="^[0-9]+$" placeholder="Nº Equipa" required/>
                        <button class="searchBox__btn"><i class="fa fa-search no-margin"></i></button>
                    </form>
                    <div class="localidadesSearchWrapper">
                        <ul>
                            <li class="topDropMenu">
                                <% if(typeof filtro != 'undefined'){ %>
                                    <% if(typeof filtro.localidadeId != 'undefined'){ %>
                                        <div class="dropMenuTitle dropMenuTitleSelected">
                                            <%= filtro.localidade %> <a href="/equipas<% if(typeof filtro.escalaoId != 'undefined'){ %>/filtro/escalao/<%= filtro.escalaoId %><% } %>"><i class="fas fa-times-circle"></a></i>
                                        </div>
                                    <% } else { %>
                                        <div class="dropMenuTitle">Localidades</div>
                                    <% } %>
                                <% } else { %>
                                    <div class="dropMenuTitle">Localidades</div>
                                <% } %>
                                <div class="dropMenuListItems">
                                    <ul>
                                        <% localidades.forEach(function(localidade){ %>
                                            <li class="dropItem">
                                                <% if(typeof filtro != 'undefined'){ %>
                                                    <% if(typeof filtro.localidadeId != 'undefined' && localidade.localidadeId == filtro.localidadeId){ %>
                                                        <i class="fas fa-check"></i>
                                                    <% } %>

                                                    <a href="/equipas/filtro/localidade/<%= localidade.localidadeId %><% if(typeof filtro.escalaoId != 'undefined'){ %>/escalao/<%= filtro.escalaoId %><% } %>"><%= localidade.nome %></a>   
                                                <% } else { %>
                                                    <a href="/equipas/filtro/localidade/<%= localidade.localidadeId %>"><%= localidade.nome %></a>
                                                <% } %> 
                                            </li>
                                        <% }); %>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="escaloesSearchWrapper">
                        <ul>
                            <li class="topDropMenu">
                                <% if(typeof filtro != 'undefined'){ %>
                                    <% if(typeof filtro.escalaoId != 'undefined'){ %>
                                        <div class="dropMenuTitle dropMenuTitleSelected">
                                            <%= filtro.escalao %> <small>(<%= filtro.sexo %>)</small> <a href="/equipas<% if(typeof filtro.localidadeId != 'undefined'){ %>/filtro/localidade/<%= filtro.localidadeId %><% } %>"><i class="fas fa-times-circle"></a></i>
                                        </div>
                                    <% } else { %>
                                        <div class="dropMenuTitle">Escalão</div>
                                    <% } %>
                                <% } else { %>
                                    <div class="dropMenuTitle">Escalão</div>
                                <% } %>
                                <div class="dropMenuListItems">
                                    <ul>
                                        <li class="dropSubMenu">
                                            <div class="dropSubMenuTitle">
                                                Masculino
                                            </div>
                                            <ul>
                                                <% escaloes.forEach(function(escalao){ %>
                                                    <% if(escalao.sexo == 1){ %>
                                                        <li class="dropItem">
                                                            <% if(typeof filtro != 'undefined'){ %>
                                                                <% if(typeof filtro.escalaoId != 'undefined' && escalao.escalaoId == filtro.escalaoId){ %>
                                                                    <i class="fas fa-check"></i>
                                                                <% } %>
            
                                                                <a href="/equipas/filtro<% if(typeof filtro.localidadeId != 'undefined'){ %>/localidade/<%= filtro.localidadeId %><% } %>/escalao/<%= escalao.escalaoId %>"><%= escalao.designacao %></a>   
                                                            <% } else { %>
                                                                <a href="/equipas/filtro/escalao/<%= escalao.escalaoId %>"><%= escalao.designacao %></a>
                                                            <% } %>
                                                        </li>
                                                    <% } %>
                                                <% }); %>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li class="dropSubMenu">
                                            <div class="dropSubMenuTitle">
                                                Feminino
                                            </div>
                                            <ul>
                                                <% escaloes.forEach(function(escalao){ %>
                                                    <% if(escalao.sexo == 0){ %>
                                                        <li class="dropItem">
                                                            <% if(typeof filtro != 'undefined'){ %>
                                                                <% if(typeof filtro.escalaoId != 'undefined' && escalao.escalaoId == filtro.escalaoId){ %>
                                                                    <i class="fas fa-check"></i>
                                                                <% } %>
                
                                                                <a href="/equipas/filtro<% if(typeof filtro.localidadeId != 'undefined'){ %>/localidade/<%= filtro.localidadeId %><% } %>/escalao/<%= escalao.escalaoId %>"><%= escalao.designacao %></a>   
                                                            <% } else { %>
                                                                <a href="/equipas/filtro/escalao/<%= escalao.escalaoId %>"><%= escalao.designacao %></a>
                                                            <% } %>
                                                        </li>
                                                    <% } %>
                                                <% }); %>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="action_btns a-right">
                        <a href="/equipas/adicionarEquipa" class="btn primary_btn"><i class="fa fa-plus"></i>Adicionar Equipa</a>
                    <button class="btn print_btn"><i class="fas fa-print"></i>Imprimir</button>
                </div>
            </div>
            <table class="listTable equipasTable">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Elementos</th>
                        <th>Localidade</th>
                        <th>Escalão</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <% if(typeof equipas != 'undefined' && equipas.length > 0){ %>
                    <% equipas.forEach(function(equipa){ %>
                        <tr>
                            <td class="w5 equipasEquipaId"><%= equipa.equipaId %></td>
                            <td class="w5"><a href="/equipas/percurso/<%= equipa.equipaId %>" class="classificacoes_icon"><i class="fas fa-clipboard-list"></i></a></td>
                            <td class="equipasElementos"><%= equipa.primeiroElemento %><br><%= equipa.segundoElemento %></td>
                            <td class="w20 table_cell_center equipasLocalidade"><%= equipa.localidade %></td>
                            <td class="w20 table_cell_center equipasEscalao"><%= equipa.escalao %><br>(<%= equipa.sexo == 0 ? 'Feminino': 'Masculino' %>)</td>
                            <td class="w5"><a href="/equipas/editarEquipa/<%= equipa.equipaId %>" class="btn edit_btn"><i class="fa fa-edit"></i>Editar</a></td>
                            <% if(equipa.eliminavel) {%>
                                <td class="w10"><a href="" class="btn delete_btn" data-equipa="<%= equipa.equipaId %>"><i class="fa fa-trash"></i>Eliminar</a></td>
                            <% } else { %>
                                <td class="w10">&nbsp;</td>
                            <% } %>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="7">Não foram encontradas equipas registadas.</td>
                    </tr>
                <% } %>
                </tbody>
            </table>
            <% if(typeof perPage != 'undefined'){ %>
                <% 
                    let path = '';
                    if(typeof filtro != 'undefined'){
                        path = (typeof filtro.localidadeId != 'undefined' || typeof filtro.escalaoId != 'undefined') ? '/filtro' : '' 
                        path += (typeof filtro.localidadeId != 'undefined') ? '/localidade/' + filtro.localidadeId : '';
                        path += (typeof filtro.escalaoId != 'undefined') ? '/escalao/' + filtro.escalaoId : '';
                    }
                %>
                <div class="pagination__wrapper">
                    <select name="perPage" class="perPage">
                        <option value="/equipas<%= path %>" <%= (perPage == 15) ? 'selected' : '' %>>15</option>
                        <option value="/equipas<%= path %>/25" <%= (perPage == 25) ? 'selected' : '' %>>25</option>
                        <option value="/equipas<%= path %>/50" <%= (perPage == 50) ? 'selected' : '' %>>50</option>
                        <option value="/equipas<%= path %>/75" <%= (perPage == 75) ? 'selected' : '' %>>75</option>
                        <option value="/equipas<%= path %>/100" <%= (perPage == 100) ? 'selected' : '' %>>100</option>
                    </select>
                    <div class="pagination">
                        <a href="/equipas<%= path %>/<%= perPage %>/1" class="pagination__item"><i class="fas fa-angle-double-left"></i></a>
                        <% paginas.forEach(function(pagina){ %>
                            <a href="/equipas<%= path %>/<%= perPage %>/<%= pagina %>" class="pagination__item <%= (pagina == page) ? 'pagination__selected' : '' %>"><%= pagina %></a>
                        <% }); %>
                        <a href="/equipas<%= path %>/<%= perPage %>/<%= numPages %>" class="pagination__item"><i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>

<% } else { %>
    <h2>Oops.. Algo correu mal!</h2>
    <p>Verifique se existem torneios registados ou activados.</p>
<% } %>

<script src="/js/equipas.js"></script>
<%- include('../includes/footer.ejs') %>